@font-face {
  font-family: "main-font";
  src: url("../font/ubuntumono-r.eot");
  src: local("☺"), url("../font/ubuntumono-r.woff") format("woff"),
    url("../font/ubuntumono-r.ttf") format("truetype"),
    url("../font/ubuntumono-r.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  background: #111111;
  padding: 0px;
}

body {
  font-family: "main-font", sans-serif;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}

#container {
  background: #000000;
  height: 630px;
  width: 1024px;
  position: relative;
}

#clock {
  display: inline-block;
  font-size: 335px;
  width: 800px;
  margin: 0px;
  text-align: center;
  line-height: 265px;
}

#date {
  display: inline-block;
  font-size: 60px;
  margin: 0px;
  line-height: 50px;
  width: 180px;
  margin-left: 35px;
  color: #95a5a6;
}

#DATE-DAY {
  font-size: 140px;
  line-height: 140px;
  color: #f5d76e;
}

#weather-icon {
  font-size: 175px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding-left: 30px;
  height: 270px;
  width: 270px;
}

#weather-summary {
  font-size: 70px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  color: #f5d76e;
  position: absolute;
  right: 25px;
  top: 300px;
  width: 500px;
}

#weather-numbers {
  font-size: 115px;
  line-height: 0px;
  position: absolute;
  bottom: 0px;
  left: 310px;
}

#weather-low {
  color: #19b5fe;
}

#weather-high {
  color: #ef4836;
}

#news {
  display: inline-block;
  width: 550px;
  height: 260px;
  position: absolute;
  right: 15px;
  bottom: -15px;
}

#news-title {
  width: 420px;
  font-size: 30px;
  text-align: right;
  margin: 0px;
  line-height: 35px;
  position: absolute;
  left: 0px;
  top: 8px;
  height: 70px;
  overflow: hidden;
  color: #ffffff;
}

#news-image-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-style: solid;
  border-width: 5px;
  color: #ffffff;
}

#news-image {
  height: 80px;
}

#news-description {
  font-size: 20px;
  text-align: right;
  margin-right: 25px;
  position: absolute;
  top: 80px;
  margin-left: 20px;
  color: #95a5a6;
  width: 485px;
  right: 0px;
  height: 125px;
  overflow: hidden;
}
