 .u-section-1 {
  background-image: url("images/image1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-image-1 {
  width: 94px;
  height: 94px;
  margin: 114px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 8px;
  background-image: none;
  margin: 39px auto 0 261px;
}

.u-section-1 .u-btn-2 {
  --radius: 8px;
  background-image: none;
  margin: -45px 261px 53px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 213px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }
}